In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [2]:
books = pd.read_csv("../Book_reviews/BX-Books.csv", sep = ';', error_bad_lines=False, encoding='latin-1')
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
users = pd.read_csv("../Book_reviews/BX-Users.csv", sep = ';', error_bad_lines=False, encoding='latin-1')
users.columns = ['userID', 'location', 'age']
ratings = pd.read_csv("../Book_reviews/BX-Book-Ratings.csv", sep = ';', error_bad_lines=False, encoding='latin-1')
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
E:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [5]:
users.head()

   userID                            location   age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [6]:
books.yearOfPublication.unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

In [7]:
pd.set_option('display.max_colwidth', -1)

<ipython-input-7-0891b765a168>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [8]:
books.loc[books.yearOfPublication == 'DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
209538,078946697X,"DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\"";Michael Teitelbaum""",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\"";James Buckley""",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg,NaN

In [9]:
books.loc[books.ISBN == '078946697X', 'imageUrlL'] =  'http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg'
books.loc[books.ISBN == '078946697X', 'imageUrlM'] =  'http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg'
books.loc[books.ISBN == '078946697X', 'imageUrlS'] =  'http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg'
books.loc[books.ISBN == '078946697X', 'publisher'] =  'DK Publishing Inc'
books.loc[books.ISBN == '078946697X', 'yearOfPublication'] =  '2000'
books.loc[books.ISBN == '078946697X', 'bookAuthor'] =  'Michael Teitelbaum'
books.loc[books.ISBN == '078946697X', 'bookTitle'] =  'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)'

books.loc[books.ISBN == '0789466953', 'imageUrlL'] =  'http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg'
books.loc[books.ISBN == '0789466953', 'imageUrlM'] =  'http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg'
books.loc[books.ISBN == '0789466953', 'imageUrlS'] =  'http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg'
books.loc[books.ISBN == '0789466953', 'publisher'] =  'DK Publishing Inc'
books.loc[books.ISBN == '0789466953', 'yearOfPublication'] =  '2000'
books.loc[books.ISBN == '0789466953', 'bookAuthor'] =  'James Buckley'
books.loc[books.ISBN == '0789466953', 'bookTitle'] =  'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers'

In [10]:
books.loc[books.publisher == 'DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
10049,0789495929,Sharks (DK Pockets),Joyce Pope,2003,DK Publishing Inc,http://images.amazon.com/images/P/0789495929.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789495929.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789495929.01.LZZZZZZZ.jpg
10478,0789426277,Forgotten Fire,Adam Bagdasarian,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789426277.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789426277.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789426277.01.LZZZZZZZ.jpg
15148,0789420279,Children Just Like Me: Celebrations!,Anabel Kindersley,1997,DK Publishing Inc,http://images.amazon.com/images/P/0789420279.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789420279.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789420279.01.LZZZZZZZ.jpg
16424,0789488914,Crime Scene: The Ultimate Guide to Forensic Science,Richard Platt,2003,DK Publishing Inc,http://images.amazon.com/images/P/0789488914.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789488914.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789488914.01.LZZZZZZZ.jpg
17141,0789458063,Eyewitness: Early Humans,Nick Merriman,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789458063.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789458063.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789458063.01.LZZZZZZZ.jpg
...,...,...,...,...,...,...,...,...
266709,0789485176,DK Readers: The Story of Muhammad Ali (Level 4: Proficient Readers),Leslie Garrett,2002,DK Publishing Inc,http://images.amazon.com/images/P/0789485176.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789485176.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789485176.01.LZZZZZZZ.jpg
266710,0789498510,Do Cows Bark? (DK See-Through),Not Applicable (Na ),2003,DK Publishing Inc,http://images.amazon.com/images/P/0789498510.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789498510.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789498510.01.LZZZZZZZ.jpg
269758,0789476460,The Grammar of Ornament: Illustrated by Examples from Various Styles of Ornament,Owen Jones,2001,DK Publishing Inc,http://images.amazon.com/images/P/0789476460.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789476460.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789476460.01.LZZZZZZZ.jpg
269767,0789460440,KISS Guide to Astrology,Julia Parker,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789460440.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789460440.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789460440.01.LZZZZZZZ.jpg
270402,0789497379,New Orleans (Eyewitness Travel Guides),Marilyn Wood,2003,DK Publishing Inc,http://images.amazon.com/images/P/0789497379.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789497379.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789497379.01.LZZZZZZZ.jpg

In [11]:
books.loc[books.yearOfPublication == 'Gallimard']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-Marie Gustave Le ClÃ?Â©zio""",2003,Gallimard,http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg,NaN

In [12]:
books.loc[books.ISBN == '2070426769', 'imageUrlL'] =  'http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg'
books.loc[books.ISBN == '2070426769', 'imageUrlM'] =  'http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg'
books.loc[books.ISBN == '2070426769', 'imageUrlS'] =  'http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg'
books.loc[books.ISBN == '2070426769', 'publisher'] =  'Gallimard'
books.loc[books.ISBN == '2070426769', 'yearOfPublication'] =  '2003'
books.loc[books.ISBN == '2070426769', 'bookAuthor'] =  'Jean-Marie Gustave Le ClÃ?Â©zio'
books.loc[books.ISBN == '2070426769', 'bookTitle'] =  "Peuple du ciel, suivi de 'Les Bergers'"

In [13]:
books.loc[books.yearOfPublication != 0].shape[0] / books.shape[0]*100

98.68440448113208

In [14]:
books.shape

(271360, 8)

In [15]:
books.yearOfPublication = pd.to_numeric(books.yearOfPublication, errors = 'coerce')

In [16]:
books.yearOfPublication.dtype

dtype('int64')

In [17]:
users.head()

   userID                            location   age
0  1       nyc, new york, usa                 NaN
1  2       stockton, california, usa           18.0
2  3       moscow, yukon territory, russia    NaN
3  4       porto, v.n.gaia, portugal           17.0
4  5       farnborough, hants, united kingdom NaN

In [18]:
users.loc[users.location.isna()].shape[0] / users.shape[0] *100

0.0

In [19]:
new_ratings = ratings[ratings.ISBN.isin(books.ISBN)]
new_ratings.shape[0]

1031136

In [20]:
ratings_explicit = new_ratings[new_ratings.bookRating != 0]
ratings_implicit = new_ratings[new_ratings.bookRating == 0]

In [21]:
ratings_explicit.bookRating.unique()

array([ 5,  3,  6,  7,  9,  8, 10,  1,  4,  2], dtype=int64)

In [22]:
ratings_explicit.head()

    userID        ISBN  bookRating
1   276726  0155061224  5
3   276729  052165615X  3
4   276729  0521795028  6
8   276744  038550120X  7
16  276747  0060517794  9

In [23]:
isbn_count = ratings_explicit.ISBN.value_counts()
isbn_count[isbn_count>=2].index.shape

(50423,)

In [24]:
users_exp_ratings = users[users.userID.isin(ratings_explicit.userID)]
users_imp_ratings = users[users.userID.isin(ratings_implicit.userID)]
print(users_exp_ratings.shape[0], users_imp_ratings.shape[0])

68091 52451

In [25]:
counts1 = ratings_explicit['userID'].value_counts()
ratings_explicit = ratings_explicit[ratings_explicit['userID'].isin(counts1[counts1>=100].index)]
counts = ratings_explicit['bookRating'].value_counts()
ratings_explicit = ratings_explicit[ratings_explicit['bookRating'].isin(counts[counts>=100].index)]

In [32]:
user_ratings = ratings_explicit.pivot(index='userID', columns='ISBN', values='bookRating')
user_ratings.head()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# user_ratings = user_ratings.fillna(0)
# user_ratings

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
test_rating = user_ratings
test_rating= test_rating.dropna(thresh = 5, axis =1).fillna(0)

In [37]:
test_rating.shape

(449, 2518)

In [38]:
test_rating

ISBN,000649840X,0007154615,0020125305,0020198906,0020442203,002542730X,0028604199,0028604202,0060002050,006000438X,...,1878424114,1878424319,1880418568,1885171080,1888054557,189205101X,1896860982,193156146X,1931561648,2070360024
userID,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
# Building Similarity Matrix
item_similarity_df = test_rating.corr(method='pearson') 
item_similarity_df.head(10)

ISBN,000649840X,0007154615,0020125305,0020198906,0020442203,002542730X,0028604199,0028604202,0060002050,006000438X,...,1878424114,1878424319,1880418568,1885171080,1888054557,189205101X,1896860982,193156146X,1931561648,2070360024
ISBN,,,,,,,,,,,,,,,,,,,,,
000649840X,1.000000,0.210401,-0.011813,-0.010733,0.154357,0.186476,-0.012205,-0.012232,-0.012029,0.407658,...,0.151260,0.113357,-0.012175,-0.011994,0.191980,-0.012149,0.304284,0.221329,0.195300,-0.011062
0007154615,0.210401,1.000000,-0.011418,-0.010373,-0.012780,0.066064,-0.011796,-0.011822,-0.011626,0.103647,...,0.134673,0.028155,-0.011768,-0.011592,0.171032,-0.011742,0.271707,0.197389,0.174005,-0.010691
0020125305,-0.011813,-0.011418,1.000000,-0.011382,-0.014023,0.045196,0.243447,0.229716,-0.012757,-0.015626,...,-0.011485,0.043874,-0.012912,-0.012720,-0.013026,-0.012884,-0.011297,0.112969,0.098425,-0.011731
0020198906,-0.010733,-0.010373,-0.011382,1.000000,-0.012740,-0.019161,0.172293,-0.011786,-0.011590,-0.014196,...,-0.010435,0.147191,-0.011731,-0.011556,-0.011835,-0.011706,-0.010264,-0.010777,-0.011826,-0.010658
0020442203,0.154357,-0.012780,-0.014023,-0.012740,1.000000,0.170598,-0.014488,-0.014520,-0.014279,-0.017490,...,-0.012856,-0.018253,-0.014453,-0.014237,-0.014580,-0.014421,-0.012645,-0.013278,-0.014570,-0.013131
002542730X,0.186476,0.066064,0.045196,-0.019161,0.170598,1.000000,0.217609,0.228007,-0.021475,0.024463,...,0.043170,-0.027452,-0.021736,-0.021412,0.056838,-0.021689,0.102425,0.069691,0.058131,-0.019748
0028604199,-0.012205,-0.011796,0.243447,0.172293,-0.014488,0.217609,1.000000,0.382083,-0.013180,-0.016143,...,-0.011866,-0.016848,-0.013340,-0.013141,-0.013458,-0.013311,-0.011672,-0.012255,-0.013448,-0.012120
0028604202,-0.012232,-0.011822,0.229716,-0.011786,-0.014520,0.228007,0.382083,1.000000,-0.013209,-0.016179,...,-0.011892,0.136977,-0.013370,0.170195,-0.013488,-0.013341,-0.011698,-0.012283,-0.013478,-0.012147
0060002050,-0.012029,-0.011626,-0.012757,-0.011590,-0.014279,-0.021475,-0.013180,-0.013209,1.000000,-0.015911,...,-0.011695,-0.016605,0.162093,-0.012952,-0.013264,-0.013119,-0.011504,-0.012079,-0.013255,-0.011946
006000438X,0.407658,0.103647,-0.015626,-0.014196,-0.017490,0.024463,-0.016143,-0.016179,-0.015911,1.000000,...,0.072073,0.058082,-0.016104,0.317915,0.092631,-0.016069,0.153778,0.109141,0.094407,-0.014632

In [44]:
def get_similar_items(item_id, test_rating):
    similar_score = item_similarity_df[item_id] *(test_rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    return similar_score

In [108]:
books.head()
def get_book_title(isbn):
    title = books.loc[books.ISBN == isbn, 'bookTitle']
    return title.values[0]

def get_book_isbn(bookTitle):
    isbn = books.loc[books.bookTitle == bookTitle, 'ISBN']
    isbn = list(isbn)
    return isbn[0]

In [123]:
get_book_title('1931561648')
# itm = get_book_isbn('Angelas Ashes')

# item_similarity_df[itm]
# '0679418210' == itm

"The Time Traveler's Wife (Today Show Book Club #15)"

In [132]:
book_lover = [(get_book_isbn('Lion, the Witch and the Wardrobe'),2),(get_book_isbn('Politically Correct Holiday Stories: For an Enlightened Yuletide Season'),2),(get_book_isbn('Girlfriends: Invisible Bonds, Enduring Ties'),4),(get_book_isbn("The Time Traveler's Wife (Today Show Book Club #15)"), 3)]
# l =[]
# for i,j in book_lover:
#     l.append(i)
# (l[0])
similar_items = pd.DataFrame()

for item,rating in book_lover:
    similar_items =similar_items.append(get_similar_items(item, rating), ignore_index=True)

similar_items.head()
recommended = similar_items.sum().sort_values(ascending=False)
rec_10 =[]
for i in recommended[:10].index:
    rec_10.append(get_book_title(i))
rec_10

['Girlfriends: Invisible Bonds, Enduring Ties',
 'The Death of Vishnu: A Novel',
 "The Time Traveler's Wife (Today Show Book Club #15)",
 'The House on Mango Street (Vintage Contemporaries)',
 "Davita's Harp",
 'This Heart of Mine (Avon Romance)',
 'The Member of the Wedding',
 'The Magic Circle',
 'The Terminal Man',
 'A Natural History of the Senses']